* {
    font-size: 15px;
}
#glitch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: screen;
}
#glitch-overlay canvas {
    width: 100%;
    height: 100%;
    display: block;
}
.header {
    height: 50px;
    width: 22cm;
    margin: auto;
    max-width: 100%;
    background-color: #f1f1f1;
    text-align: left;
    line-height: 50px;
    display: flex;
    align-items: center;
}
#progress-bar-container.hidden {
    display: none;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 2px;
}

.hamburger-menu div {
    width: 2rem;
    height: 0.4rem;
    background: rgb(99, 53, 35);
}

.bordered-image {
    border: 2px solid black; 
    max-width: 40%;
}

.clown-image{
    max-width: 100%;
}
.image-text-container {
    display: flex;
    align-items: center; /* Optional: This will vertically center the text */
}

.image-text {
    margin-left: 10px; /* Optional: This will add some space between the image and the text */
    font-family: monospace;
}

#node-display {
    position: absolute;
    left: 50%; 
    top: 50px;
    z-index: 2;
    width: 20cm;
    max-width: 100%;
    background-color: #aaa;
    padding: 30px;
    transform: translateX(-50%) translateY(100%);
    transition: all 0.5s ease-in-out;
    height: calc(100vh - 50px); 
    overflow-y: auto;
}

#node-display.on-screen {
    transform: translateX(-50%) translateY(0);
}

/* make modal-content narrow and centered on screen */
.modal-content {
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 2000;
}

.behind {
    z-index: 500;
}

.menu-background {
    height: 100%;
    width: 22cm;
    margin: auto;
    max-width: 100%;
    background-color: #f1f1f1;
    text-align: left;
    align-items: center;
    z-index: 10;
}

.menu-content {
    width: 10cm;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1700;
    text-align: center;
    border: 2px solid brown; 
    border-radius: 15px; 
}

.radio {
    display: flex;
    justify-content: center;
    margin: 10px;
}

body {
    font-family: helvetica;
    overflow: hidden;
}

#cy {
    width: 20cm;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

button {
    font-size: 1em;
    margin-right: 10px;
}

.line {
    clear: left;
    height: 25px;
    margin-top: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.radio {
    margin-left: 25px;
}

#fixed-text, #moving-text {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 2em;
}

#fixed-text {
    color: rgb(99, 53, 35);
    font-size: 1em;
    padding-left: 5;
    padding-right: 5;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left; 
    line-height: 1em;
    text-transform: uppercase;
    flex-shrink: 0;
}

.menu-title {
    color: rgb(99, 53, 35);
    line-height: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.btn-start {
    background-color: brown;
    border-color: brown;
}

.btn-about {
    background-color: #f1f1f1;
    border-color: brown;
    color: brown;
}

#progress-bar-container {
    display: inline-block;
    vertical-align: middle;
    background-color: #f3f3f3;
    position: relative;  
    flex-grow: 1;
    height: 100%;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: rgb(99, 53, 35);
    transition: width 1s;
    position: relative;  
}

#moving-text {
    color: white;
    position: absolute;
    right: 5px;  
    white-space: nowrap;  
    top: 50%;  
    transform: translateY(-50%);  
}

.optiontable td
{
    /* padding between rows */
    padding-bottom: 10px;
}

.table {font-size: 1em;}

.target {
    font-weight: bold;
}

.targetbox {
    border: 5px solid #444444;
    padding: 0px;
    margin: 0px;
}
.darkbg
{
    background-color: #444444;
    display: block;
    width: 100%;
    padding: 3px;
}
.targettextcontainer {
    padding: 3px;
}
.graph-top {
    position: absolute;
    left: 50%; 
    z-index: 1;
    width: 100%;
    max-width: 20cm;
    transform: translateX(-50%);
    padding: 5 5 0px;
}
#impossible-info {
    position: absolute;
    left: 50%; 
    z-index: 1;
    width: 100%;
    max-width: 20cm;
    transform: translateX(-50%);
    padding: 0 5px;
}
#graph-bottom {
    left: 50%; 
    width: 100%;
    max-width: 20cm;
    padding: 0 10px;
    transform: translateX(-50%);
    position: relative;
    height: 100%;
}
.larger {
    font-size: 1.25em;
}

.paper-bg {
    background-color: #f8f8f8; /* Light grey background to simulate paper */
    background-image: 
        linear-gradient( rgb(250, 225, 197) 11.34px, rgb(235, 235, 235) 11.34px); /* Horizontal lines to simulate rows */
    background-size: 
        100% 22.68px; /* Size of horizontal lines */
}
@media (max-width: 600px), (max-height: 600px) {
    #node-display {
        padding: 10px;
        top: 30px;
        height: calc(100vh - 30px); 
    }
    * {
        font-size: 10px;
    }
    .radio > label
    {
        font-size: 15px;
    }
    #cy {
        padding: 0 5px;
    }
    .header {
        height: 30px;
        line-height: 30px;
    }
}

.align-right {
    float: right;
}

.hide-at-start
{
    display: none;
}